<<<<<<< HEAD
<%- include('partials/header'); -%>
=======
 <%- include('partials/header'); -%>
>>>>>>> 9051421... deployed website

 <link rel="stylesheet" href="/styles.css">
<!--
<link rel="stylesheet" href="/homecss.css"> -->

<h1 style="font-size:6vw" ><center>Track your Progress</center></h1>
  <div class="headings">
    <h3 style="font-size:4vw">Programming and Interview Experiences</h3>
    <%# <a href="/intexp" class="btn btn-success">Interview Experiences</a> %>
    <a href="/profile" class="btn btn-primary" style="font-size:3vw">Programming</a>
    <a href="/company" class="btn btn-success" style="font-size:3vw">Interview Experience</a>
  </div>
</body>
</html>
