<%- include('partials/header'); -%>
<link rel="stylesheet" href="/styles.css">
<header>
<div class="headings">
    <h2>Welcome Back  <%= user.name %></h2>
    <h3></h3>
    <a href="/topic" class="btn-primary" style="font-size:3vw" >  Explore Topic Wise </a>
    <a href="/topic/all_questions" class="btn-success" style="font-size:3vw">  Explore All Questions  </a>
  </div>
</header>

</body>
</html>
