<%- include('partials/header'); -%>
  

  <% if (questions.length> 0) { %>
    <center>
      <h1> List of Topics </h1>
    </center>
    <div class="list-group m-1">
      <% questions.forEach(question=> { %>      
        <a href="<%= question.linkto %>" class="p-4 m-1 list-group-item list-group-item-action">
          <%= question.problem %>
        </a>
      <% }) %>
    </div>
  <% } else { %>
    <h1>Sorry! There are no questions to display...</h1>
  <% } %>

<%- include('partials/footer'); -%>