<link rel="stylesheet" href="/loginstyle.css">
<%- include("./partials/header.ejs") %>
<div class="login">
 <form>
    <h1>Sign up</h1>
    <label for ="name" ><h3>Your Name</h3></label>
    <input type = "text" name = "name" required />
    <label for ="email" ><h3>Email</h3></label>
    <input type = "text" name = "email" placeholder="Email" required />
    <div class ="email error"></div>
    <label for ="password" ><h3>Create a password</h3></label>
    <input type = "password" name = "password"  placeholder="Password"  required />
    <div class ="password error"></div>
    <button class="btn btn-primary btn-block btn-large" >Sign up</button>
<h2><a href = "/login" class="btn btn-primary btn-block btn-large" >or Login</a></h2>
 </form></div>
 <script>
 const form = document.querySelector('form');
 const emailerror = document.querySelector('.email.error');
 const passworderror = document.querySelector('.password.error');
 form.addEventListener('submit',async (e) => {
 e.preventDefault();
 emailerror.textContent = '';
 passworderror.textContent = '';
 const name = form.name.value;
 const email = form.email.value;
 const password = form.password.value;

 try {
    const res = await fetch('/signup', {
    method : 'POST',
    body : JSON.stringify({name ,email , password }),
    headers : {'Content-Type': 'application/json'}
    });
    const data = await res.json();
    console.log(data);
    if(data.errors)
    {
    emailerror.textContent = data.errors.email;
    passworderror.textContent = data.errors.password;
    }
    if (data.user)
    {
       location.assign('/');
    }
 }
 catch(err)  {console.log(err);}
 });
 </script>
