<%- include('partials/header'); -%>

  <% if (topics.length> 0) { %>
    <center>
      <h1> List of Topics </h1>
    </center>
    <div class="list-group m-1">
      <% topics.forEach(topic=> { %>        
          <a href="/topic/<%= topic.name.toLowerCase() %>" class="p-4 m-1 list-group-item list-group-item-action">
            <%=topic.name %>
          </a>
      <% }) %>
      </div>
  <% } else { %>
    <p>There are no topics to display...</p>
  <% } %>


<%- include('partials/footer'); -%>