.sec{
    padding: 15px;
    text-decoration: cornflowerblue;
    text-align: center;
}

.card-body{
    margin-top: 30px;

    margin-bottom: 30px;    
}

.headings{
    padding: 20px;
}